Note: 2017 was the first year where PKWs had a category for "Elektro". Before that, there was only a category for "sonstige". (Years from 2017 have both categories.)

Data from https://www.kba.de/DE/Statistik/Produktkatalog/produkte/Fahrzeuge/fz1_b_uebersicht.html

In [192]:
import pandas as pd

## Making dataframes from the years where we have a CSV

This is for all years 2013 to 2017 inclusive.

In [193]:
#List of columns that we want as they are listed in CSV files. New list uses Python numbering.
csv_col_list = [1,7,19,21,36,37,40,41,44,45,46,47,48,49,50,51,52]
py_col_list = [i - 1 for i in csv_col_list]

#function to import a CSV file for a year into a dataframe
def CSVtoPD(year):
    filepath = "data/" + str(year) + " formatted.csv"
    
    #removes columns and rows that we don't want
    df = pd.read_csv(filepath,usecols=py_col_list)
    df = df.drop([0],axis=0)
    
    #function to tidy up the city names
    def change_name(name):
        split_name = name.split()
        return(split_name[0])
    
    #calling the above function
    df["Unnamed: 0"] = df["Unnamed: 0"].apply(change_name)

    #change column names
    df.rename(columns = {'Unnamed: 0':'City'}, inplace = True)
    
    return(df)

In [194]:
df2013 = CSVtoPD(2013)
df2014 = CSVtoPD(2014)
df2015 = CSVtoPD(2015)
df2016 = CSVtoPD(2016)
df2017 = CSVtoPD(2017)

In [195]:
df2013

,City,PKW insgesamt,PKW Dichte (je 1 000 Einwohner),LKW insgesamt,Kraftfahrzeuge insgesamt,Kraftfahrzeuge Dichte (je 1000 Einwohner),PKW Benzin,PKW Diesel,PKW sonstige Energiequelle,PKW Emissionsgruppe Euro 1,PKW Emissionsgruppe Euro 2,PKW Emissionsgruppe Euro 3,PKW Emissionsgruppe Euro 4,PKW Emissionsgruppe Euro 5,PKW Emissionsgruppe Euro 6,PKW Emissionsgruppe sonstige,PKW Emissionsgruppe schadstoffreduzierte insgesamt
1,Berlin,1149520,328,81085,1344876,384,879752,248543,4657,56948,227817,177838,445819,222607,2204,2621,1135854
2,Hamburg,738610,411,48254,850335,473,505121,225682,1674,28744,119399,105282,272529,194579,2097,3912,726542
3,München,674394,489,31259,771625,560,414201,254025,2263,26717,90768,88775,222913,218484,2635,8297,658589
4,Köln,445134,438,26226,511906,503,298983,139311,1659,19264,73311,67797,165743,104242,613,2127,433097
5,Frankfurt,313385,453,20372,356757,516,187159,122434,946,12440,45577,39782,105253,102374,862,1011,307299
6,Stuttgart,281351,459,12613,319631,521,182981,95234,1241,9685,45078,38462,99204,82188,1915,657,277189
7,Düsseldorf,289306,488,15464,331679,560,181101,104123,690,12542,44769,40074,101290,83142,854,1408,284079
8,Leipzig,203571,383,13570,230691,434,157598,42717,646,7670,35009,32276,85499,40892,236,453,1536
9,Dortmund,290036,449,12805,299285,515,189923,66955,411,11200,49374,41292,103830,50289,345,1138,257468
10,Essen,268827,469,15043,307943,537,196104,67534,414,11182,43567,40868,107429,57776,392,540,265889

## Making dataframes from the years where we have a .xlsx

This is for all years 2018 to 2022 inclusive.
The 2018 Excel file is structured slightly differently to the other Excel files - I edited it in Excel to make it consistent so that it can use the same function.

In [196]:
#these numbers are used in the spreadsheet to identify our 10 cities
cities = "11000|02000|09162|05315|06412|08111|05111|14713|05913|05113"

#function to turn an .XLSX file for year into a df
def ExceltoDF(year):
    #generate filepath for the relevant year
    filepath = "data/fz1_" + str(year) + ".xlsx"
    
    #read sheet FZ1.1 from that file path, skip first 8 roads, skip columns without header names
    df1 = pd.read_excel(filepath, sheet_name='FZ1.1',skiprows=8,usecols=lambda x: 'Unnamed' not in x)

    #fill the merged cells with the corresponding value
    df1 = df1.fillna(method='ffill')

    #remove the final 5 rows. They don't have relevant data and are in a different format.
    df1 = df1[:-6]
    
    #same as above for most of sheet 2
    #the Excel formatting makes it hard to get the columns before Benzin but they're not needed
    df2 = pd.read_excel(filepath, sheet_name='FZ1.2',skiprows=8,usecols=lambda x: 'Unnamed' not in x)
    df2 = df2.fillna(method='ffill')
    df2 = df2[:-5]
    
    #combines the dataframes from each of the sheets
    df = pd.concat([df1, df2], axis=1)
    
    #filters the dataframe to only show rows with our 10 cities    
    df = df.dropna(subset=['Statistische Kennziffer und Zulassungsbezirk'])
    df = df.loc[df['Statistische Kennziffer und Zulassungsbezirk'].str.contains(cities)]
    
    #Berlin and Hamburg are cities and Länder so this line is needed to stop them from being duplicated in the df
    df = df.loc[df["Land"].str.contains('INSGESAMT')==False]
    
    #remove unnecessary columns
    df = df.iloc[:,[2,8,19,20,33,34,35,36,40,42,43,44,45,46,47,50,51]]

    #removes "Stadt" from end of city names
    df['Statistische Kennziffer und Zulassungsbezirk'] = df['Statistische Kennziffer und Zulassungsbezirk'].str.replace(',STADT','')
    df['Statistische Kennziffer und Zulassungsbezirk'] = df['Statistische Kennziffer und Zulassungsbezirk'].str.replace(', STADT','')

    #function to remove numbers from beginning of city names, change to umlaut spelling, and make nice capitalisation
    def change_name(name):
        #splits the string of the current name
        split_name = name.split()
        
        #changes the oe kind of umlaut, taking the correct city name from the list created by split_name
        umlauts = split_name[1].replace("OE","Ö")
        #changes the ue kind of umlaut, taking the city name from the variable created above
        umlauts = umlauts.replace("UE","Ü")
        
        #capitalises the first letter of the cityname
        capitals = umlauts.capitalize()
        
        return(capitals)
    
    #calling the above function to make names look nice
    df['Statistische Kennziffer und Zulassungsbezirk'] = df['Statistische Kennziffer und Zulassungsbezirk'].apply(change_name)
    
    #renames the columns
    df.columns = df.columns.str.replace('Euro', 'PKW Emissionsgruppe Euro')
    df.rename(columns = {'Statistische Kennziffer und Zulassungsbezirk':"City",
                         'insgesamt.1':'PKW insgesamt', 
                         'PKW-Dichte\nje 1.000 \nEinwohner':'PKW Dichte',
                         'insgesamt.2':'LKW insgesamt',
                         'insgesamt.4':'KFZ insgesamt',
                         'Kfz-Dichte\nje 1.000 \nEinwohner':'KFZ Dichte',
                         'sonstige.1':'PKW Emissionsgruppe sonstige',
                         'schadstoff-\nreduzierte \ninsgesamt':'PKW Emissionsgruppe schadstoffreduzierte insgesamt'}, inplace = True)
    
    return(df)

In [197]:
df2018 = ExceltoDF(2018)
df2019 = ExceltoDF(2019)
df2020 = ExceltoDF(2020)
df2021 = ExceltoDF(2021)
df2022 = ExceltoDF(2022)

In [198]:
df2018

,City,PKW insgesamt,PKW Dichte,LKW insgesamt,KFZ insgesamt,KFZ Dichte,Benzin,Diesel,Elektro,PKW Emissionsgruppe Euro 1,PKW Emissionsgruppe Euro 2,PKW Emissionsgruppe Euro 3,PKW Emissionsgruppe Euro 4,PKW Emissionsgruppe Euro 5,PKW Emissionsgruppe Euro 6,PKW Emissionsgruppe sonstige,PKW Emissionsgruppe schadstoffreduzierte insgesamt
0,Stuttgart,301508.0,483,16037.0,346429.0,555,189027.0,106608.0,1193.0,4624.0,22423.0,23531.0,73801.0,73009.0,97405.0,5356.0,180.0
50,München,727179.0,501,36793.0,838275.0,578,424574.0,288961.0,2287.0,14000.0,44746.0,52779.0,165291.0,173195.0,252961.0,17399.0,1352.0
153,Berlin,1202829.0,342,96943.0,1422065.0,404,863140.0,307976.0,2007.0,22417.0,112777.0,119537.0,366516.0,311836.0,249216.0,16951.0,1471.0
177,Hamburg,783255.0,438,56640.0,907426.0,508,504715.0,265809.0,1387.0,13454.0,59575.0,67286.0,213438.0,200184.0,211073.0,13695.0,2093.0
180,Frankfurt,333768.0,456,22358.0,381530.0,521,186420.0,141909.0,527.0,5159.0,22429.0,25709.0,82794.0,80938.0,108853.0,6666.0,217.0
268,Düsseldorf,307571.0,502,16061.0,352030.0,575,183176.0,118266.0,404.0,5645.0,22568.0,24962.0,77702.0,78259.0,90912.0,6249.0,303.0
270,Essen,285071.0,489,16040.0,326352.0,560,201491.0,77238.0,234.0,4320.0,23558.0,26568.0,86096.0,76435.0,63926.0,3616.0,149.0
285,Köln,480332.0,453,30214.0,554919.0,523,308304.0,161866.0,750.0,8214.0,36113.0,43479.0,137721.0,118767.0,125440.0,8502.0,514.0
314,Dortmund,282290.0,482,14019.0,322549.0,550,196743.0,80198.0,224.0,4494.0,24474.0,27396.0,88984.0,75001.0,57000.0,3963.0,258.0
385,Leipzig,223734.0,399,15240.0,255092.0,455,161872.0,57244.0,302.0,2883.0,17085.0,20723.0,70511.0,63316.0,46343.0,2241.0,148.0